body {
	background-color: black;
	margin: 0;
	padding: .5vmin;
	overflow: hidden;
}

#terminal {
	width: 99vw;
	height: 99vh;
}

/* unclear if this is necessary.  suggested in https://github.com/xtermjs/xterm.js/issues/3564#issuecomment-1004417440 */
/*
.xterm .xterm-viewport {
    width: initial !important;
}
*/
